NEXORA_HTTP_ADDR=:8080
NEXORA_DATABASE_URL=postgres://nexora:nexora@localhost:5432/nexora?sslmode=disable
NEXORA_MIGRATIONS_DIR=migrations
NEXORA_MEDIA_ROOTS=D:\Media;E:\Media
NEXORA_MEILI_HOST=http://127.0.0.1:7700
NEXORA_MEILI_API_KEY=
NEXORA_MEILI_INDEX=media_items
NEXORA_SCAN_WORKERS=8
NEXORA_WATCH_RECURSIVE=true
